.header {
  /* vh: every point the height of this box should be 
  95% of the view port height.100% WOULD FILL ALL THE VIEW PORT 95% LEFT WHITE SPACE AT THE BOTTOM */
  height: 95vh; 
  /* to specify gradients we always use the background-image property
  Whatever we want on top should be after the comma */
  background-image: linear-gradient(
    to right bottom, rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg); 
  /* whatever the width of the view port you try to 
  fit the element inside of the box. */
  background-size: cover; 
  /* no matter what height is the vh the top will always show */
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
  position: relative; 
/* this is the image container */
  &__logo-box {
  position: absolute; 
  top: 4rem; 
  left: 4rem; 
  }

/* this is the image itself */
  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* this top and left are in relation of our parent element */
    top: 40%; 
    left: 50%;
    /* transform is in relation to the element */
    transform: translate(-50%, -50%);
    text-align: center; 
  }

}

